@{
    ViewData["Title"] = "Contact";
}
<h3>@ViewData["Message"]</h3>

<address>
    Kyiv, Ukraine <br />
    <abbr title="Phone">+390734199403</abbr>
</address>

<address>
    <strong>Support:</strong> <a href="mailto:lan.levi@hotmail.com"> lan.levi@hotmail.com</a><br />
</address>
