@model ApplicationRole
@using WorldEvents.Models
@using WorldEvents.Entities

@using (Html.BeginForm("ConfirmDeleteApplicationRole", "Role", new { area = "Admin", controller = "Role", id = Model.Id }, FormMethod.Post, true, new { enctype = "multipart/form-data" }))
{
    @Html.Partial("_ModalHeader", new ModalHeader { Heading = "Delete Role" })

    <div class="modal-body form-horizontal">
        Are you want to delete @Model?
    </div>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="modal-footer panel-footer">
        <button data-dismiss="modal" class="btn btn-default" type="button"> Cancel </button>
        <button class="btn btn-danger" type="submit">
            <i class="glyphicon glyphicon-trash"></i>  Delete
        </button>
    </div>
}