@{
    ViewData["Title"] = "Tech Events Page";
    //Layout = "_LayoutEvents";
}

@*<div class="row">
    <div class="col-md-4">
        <h2>Calendar tech events</h2>
         TODO: 
    </div>
    <div class="col-md-4">
        <h2>Create Event</h2>

    </div>
    <div class="col-md-4">
        <h2>Overview</h2>
    </div>
</div>*@
