@model BootstrapModel
@using WorldEvents.Models

<div id="@Model.ID" class="modal fade" aria-hidden="true" aria-labelledby="@Model.AreaLabeledId" role="dialog" tabindex="-1">
    <div class="modal-dialog ">
        <div class="modal-content">

        </div>
    </div>
</div>